@import './style.css';
#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    background-color: #FAFAFA;
    height: 100%;
    margin: 0 55px;
    padding:30px;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.media-card {
  width:350px;
  height: 25rem;
  padding: 2rem;
  color: #901C1C;
}

.media-image {
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  border-radius: 4px;
}

.media-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.media-info-title {
    margin:0;
}

.media-info-like {
    cursor: pointer;
}

.media-info-like :hover{
    color:#901C1C;
    font-size: 1.2rem;
}

.media-info-like span {
    color:black;
    font-size: 0.9rem;
}

.contact_button {
    order:1;
    align-self: center;
    margin-right: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header-right {
    order:3;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {

    .photograph-header {
        flex-direction: column;
         margin: 20px;
        padding-top: 0;
        align-items: center;
    }

    .contact_button {
        margin-right:0;
        margin-top: 30px;
    }

    .photograph-header-right {
        margin-top: 50px;
    }

    .photograph-header-right, .photograph-header-left {
        margin-bottom:20px;
    }

    .photograph-header-left h1, p {
        text-align: center;
        margin-right: 0;
    }

    .media-card {
        flex-basis: 100%;
        padding: 2rem 0;
        height: 30rem;
    }

    .media-image {
        height: 27rem;
    }

}