@import './style.css';
#contact-modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    background-color: #FAFAFA;
    height: 100%;
    margin: 0 55px;
    padding:30px;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.media-card {
  width:350px;
  height: 25rem;
  padding: 2rem;
  color: #901C1C;
}

.media {
  width: 350px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
}

.media-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.media-info-title {
    margin:0;
}

.media-info-like {
    cursor: pointer;
    background-color: transparent;
    color: #901C1C;
    border: none;
}

.media-info-like i {
    font-size: 1.1rem;
}
.media-info-like :hover{
    color:#901C1C;
    font-size: 1.2rem;
}

.media-info-like span {
    color:black;
    font-size: 0.9rem;
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 1.5rem;
    width: 18rem;
    padding: 0 2rem;
    bottom: 0;
    background: #db8876;
    border-radius: 0.3rem;
    font-size: 1.2em;
}

.like-counter {
    display: flex;
}

.like-counter i {
    align-self: center;
    margin-left: 5px;
}
.contact_button {
    order:1;
    align-self: center;
    margin-right: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header-right {
    order:3;
}

/*****MODAL*******/
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

form img {
    cursor: pointer;
}

form h2 {
    font-size: 2.6em;
    font-weight: 400;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin: .3rem 0 .2rem;
}

form input,
form textarea {
    border: none;
    border-radius: .3rem;
    font-size: 1.2em;
    padding: .3rem;
}

.close-form-icon {
    color: #fff;
    font-size: 2em;
    margin-top: .6rem;
}

form button{
    background: none;
    border: none;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 169px;
    border: none;
    border-radius: 5px;
}

.formData[data-error]::after {
    color: #901c1c;
    content: attr(data-error);
    display: block;
    flex-direction: column;
    font-size: 1em;
    line-height: 0.3;
    margin-bottom: 7px;
    margin-top: 7px;
    opacity: 0;
    text-align: left;
    transition: .3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

input[data-error]::after {
    color: #901c1c;
    content: attr(data-error);
    font-size: .6em;
}

.form-submit {
    align-self: auto;
    background: #901c1c;
    color: #fff;
    font-size: 1em;
    height: 2.2rem;
    width: 10.6rem;
}

@media screen and (max-width: 800px) {

    .sort-btn {
        top: 27rem;
    }
     .arrow-down-open {
        top: 29rem;
    }
}

@media screen and (max-width: 900px) {

    .photograph-header {
        flex-wrap: wrap;
        margin: 20px;
        padding-top: 0;
        align-items: center;
    }

    .contact_button {
        margin-right:0;
        margin-top: 30px;
    }

    .photograph-header-right {
        margin-top: 50px;
    }

    .photograph-header-right, .photograph-header-left {
        margin-bottom:20px;
    }

    .photograph-header-left h1, p {
        text-align: center;
        margin-right: 0;
    }

    .sort-container {
        margin-top:0;
    }

    .media-card {
        padding: 2rem 0;
        height: 30rem;
    }

    .media {
        height: 27rem;
    }
}


/*****Contact Modal confirmation*****/

.modal-confirmation {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #FFFFFF;

}

.modal-confirmation-content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #901c1c;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color:#fff;
  font-size: 1.5rem;
  padding-top: 10px;
}

.modal-confirmation-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px auto;
    border-radius: 8px;
}

.modal-confirmation-body p {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

/******DROP-DOWN FILTER********/

.sort-container {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
}

.sort-container >span {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5625rem;
}

.sort-btn {
    position: absolute;
    left: 9rem;
    width: 10rem;
    background: #901c1c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .625rem 1.25rem .625rem .1rem;
    cursor: pointer;
        
}
    
.arrow-down-open {
    position: absolute;
    left: 16.5rem;
    top: 25rem;
    color: #fff;
}

.arrow-up-close {
    color: #fff;
    left: 8.5rem;
    position: absolute;
    top: 1.55rem;
}

.sort-list li {
    background: #901c1c;
    list-style-type: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.25rem;
}

    .sort-list {
        border-radius: 5px;
        margin:0;
        color: #fff;
        display: none;
        left: 144px;
        padding: 0;
        position: absolute;
        top: 384px;
        width: 11rem;
        z-index: 10;
    }

    ul.sort-list li:hover {
        background-color: #651414;
        cursor: pointer;
    }

    ul.sort-list li:nth-child(1) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }  
