@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}*/
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-basis: 33%;
    text-align: center;
    margin-top: 2.5rem;
}

.card p, h2 {
    margin: 3px;
}

.card__general-link{
    text-decoration: none;
}

.card__image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.card__name {
    font-weight: normal;
    color: #D3573C;
}

.card__location {
    color: #901C1C;
    font-weight: 400;
}

.card__price {
  color: #525252;
}